{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Basic Page</title>
	<link rel="stylesheet" href="{% static 'css/logo.png' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<form action ="{% url 'base' %}" method="POST" class="post-form">
		{% csrf_token %}
		<img  src="{% static 'css/logo.png' %}" alt="Image description" width="75" height="65" style="float:left">
		<h1 style="color:white; text-align:center;" "font-family:verdana;" >Gayatri Vidya Parishad college of engineering for Women</h1>
		<br>
		<hr>
		<h2 style="color:white; text-align:center;" >CERTIFICATE COLLECTION SYSTEM</h2>
		
	<div class="login-box">
       <a href="{% url 'signin' %}" >student signin</a>
       <a href="{% url 'signin' %}" >faculty signin</a>
		
	</div>
</form>
</body>
</html> 