{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Upload</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>  
<table id="t01" >
    <thead>
      <tr>
        <th>description</th>
		<th>file</th>
		<th>uploaded time</th>
      </tr>
    </thead>
    <tbody>  
      <tr>
        {% for stud in document %}
        <td>{{stud.description}}</td>
        <td><a href="{{ stud.document.url }}" target="_blank" rel="noopener noreferrer">Download</a></td>
        <td>{{stud.uploaded_at}}</td>
        {% endfor %} 
      </tr>
	</tbody>
</table>	
</body>  

</html>