 {% extends "CCS/student_dashboard.html" %}
 {% block content %} 
<div class="container">           
  <table class="table table-bordered">
    <thead>
      <tr class="table-warning">
        <th class="font-weight-bolder">Description</th>
    <th>File</th>
    <th>Uploaded On</th>
      </tr>
    </thead>
    <tbody>  
        {% for stud in document %}
        <tr class="table-light">
           <td>{{stud.description}}</td>
           <td><a href="{{ stud.document.url }}" target="_blank" rel="noopener noreferrer" download>Download</a></td>
           <td>{{stud.uploaded_at}}</td>
         </tr>  
        {% endfor %} 
  </tbody>
</table>  
</div>
{% endblock %}