{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign In Page</title> 
	<link rel="stylesheet" href="{% static 'css/logo.png' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="{% static 'css/bootstrap.min.css' %}" > 
</head>
<body>
	<form action ="{% url 'signin' %}" method="POST" class="post-form">
		{% csrf_token %}
		<img  src="{% static 'css/logo.png' %}" alt="Image description" width="85" height="85" style="float:left">
		<h1 style="color:white; text-align:center;" "font-family:verdana;" >Gayatri Vidya Parishad College of Engineering for Women</h1>
		<br>
		<h2 style="color:white; text-align:center;" >CERTIFICATE COLLECTION SYSTEM</h2>
		
	<div class="login-box">
       {% block content %} 
        {% endblock %}
		<h2>Login Here</h2>
		<div class='textbox'>
		
			<input type="text" placeholder="rollno.name@gvpcew.ac.in" name="userid" value="">
			
		</div>

		<div class='textbox'>
			<input type="password" placeholder="password" name="pwd" value="" >
			
		</div>

		<input class='btn' type="submit" name="" value="Sign in">

	</div>
</form>
</body>
</html> 